@import "tailwindcss";

@theme inline {
  --color-surface: #fbf9f6;
  --color-surface-dim: #dbdad7;
  --color-surface-bright: #fbf9f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f0;
  --color-surface-container: #efeeeb;
  --color-surface-container-high: #eae8e5;
  --color-surface-container-highest: #e4e2df;
  
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #3f4942;
  --color-inverse-surface: #30312f;
  --color-inverse-on-surface: #f2f0ed;
  
  --color-primary: #188b48;
  --color-on-primary: #ffffff;
  --color-primary-container: #1b8140;
  --color-on-primary-container: #a5ebc3;
  
  --color-secondary: #fcd116;
  --color-on-secondary: #1b1c1a;
  --color-secondary-container: #ffdf4c;
  --color-on-secondary-container: #665200;

  --color-tertiary: #005134;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #006c46;
  --color-on-tertiary-container: #8eebb9;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --color-primary-fixed: #a6f3c6;
  --color-primary-fixed-dim: #8ad6ab;
  --color-on-primary-fixed: #002112;
  --color-on-primary-fixed-variant: #005233;
  
  --color-secondary-fixed: #ffddb6;
  --color-secondary-fixed-dim: #ffb95a;
  --color-on-secondary-fixed: #2a1800;
  --color-on-secondary-fixed-variant: #643f00;

  --font-sans: var(--font-jakarta);
  
  --spacing-gutter: 1.5rem;
  --spacing-gutter-mobile: 1rem;
  --spacing-space-xs: 0.375rem;
  --spacing-space-sm: 0.75rem;
  --spacing-space-md: 1.25rem;
  --spacing-space-lg: 2rem;
  --spacing-space-xl: 3.5rem;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
